@charset "UTF-8";
/* clearfix */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	width:100%;
}

html{
  scroll-behavior: smooth;
  }

body{
    background:#fefefe;
    color:#33112e;
    font-size:13px;
    line-height:1.7;
    font-family:"Noto Sans JP",Helvetica, "YuGothic", sans-serif;
    }
    
ul {
    list-style-type: none;
} 

/*----ふったー---*/
#footer{
  width:100%;
  background-color:#33112e;
  color:#fefefe;
  }
.footer{
  padding:2em 0;
  width:100%;
  }
.footer-nav{
  width:100%;
  text-align:center;
  background-color:#33112e;
  }
.footer-ad{
  margin:0 auto;
  padding:0 1em;
  left:0;
  right:0;
}

.clinic-name{
  font-size:110%;
  font-weight:bold;
  margin-bottom:15px;
  text-align: center;
  padding:0;
  }
#footer .footer-nav{
  padding:1em;
}
#footer .footer-nav li{
  display:block;
  padding:1% 0;
  width:100%;
  }
.f-nav-left,.f-nav-right{
  width:49.5%;
} 
.f-nav-left li a,.f-nav-right li a{
  display:block;
  width:100%;
  padding:.5em 0;
  background:rgba(254, 254, 254, 0.9);
  color: #33112e;
}
.f-nav-left{
  float: left;
}
.f-nav-right{
  float: right;
}
.f-sns{
  padding:2em;
  display:flex;
  justify-content: space-around;
}
#footer i{
  font-size:250%;
}
#copyright{
  font-size: 70%;
  width:100%;
}
@media(min-width:600px){

.footer-nav{
  width:65%;
  float: right;
}
.footer-nav li{
  padding:.5em 0;
  }
.f-left{
  width:35%;
  float: left;
  padding-top: 2em;
}
.footer-nav a:hover{
  background:#915da3;
  color:#fefefe;
}
}
/* ふったーおわり */


/* ふわっと */
.effect-fade {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 1s;
    }
    
    .effect-fade.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
    }

    /* すくろーる */
@media(min-width:780px){
#scroll a {
    position: absolute;
    top: 80%;
    right: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 70px;
    color:#328b99;
    font-size:120%;
    font-weight:bold;
  }
  
  #scroll a .down {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb {
    0% {
      transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
}
@media ( max-width:779px ){
  #scroll span{
    display:none;
  }
}
/* トップに戻る */
#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #915da3;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: #915da3;
  }


/* あけとじ */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** =======================
 * Contenedor Principal
 ===========================*/
 .accordion {
    width: 100%;
    max-width:850px;
    margin: 30px auto 20px;
    background: #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family:"游明朝","YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝",serif;
 }

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 1em 2.5em 1em 1em;
    color: #33112e;
    font-size:110%;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #33112e;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 110%;
}

.accordion li.open .link {
    color: #915da3;
}

.accordion li.open i {
    color: #00a3a7;
}
.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
    display: none;
    font-size: 100%;
 }

 .submenu li {
    border-bottom: 1px solid #4b4a5e;
    background:#915da3;
  
 }

 .submenu a,.submenu span{
    display: block;
    text-decoration: none;
    color: #fefefe;
    text-align: left;
    padding: 1em 1.5em 1em 1em;

    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
 }

 .submenu a:hover {
    background: #00a3a7;
    color: #fefefe;
 }

 /* ↑あけとじ↑ */

/* overwhite */

.overwhite:hover{
  cursor:pointer;
  filter: alpha(opacity=80);        /* ie lt 8 */
  -ms-filter: "alpha(opacity=80)";  /* ie 8 */
  -moz-opacity:0.8;                 /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.8;              /* Safari 1.x */
  opacity:0.8;
  zoom:1;
  transition: 0.5s ;
}

/* figureゆっくりおおきく */
figure img {
  -moz-transition: -moz-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: transform 0.3s linear;
}
figure img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}



/* はんばーがー */
header{
  position: relative;
}
#nav-drawer {
  position: fixed;
  top:1em;
  right:1.5em;
  z-index:10;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 30px;/*長さ*/
  border-radius: 3px;
  background: #00a3a7;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -10px;
}
#nav-open span:after {
  bottom: -20px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 100%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 500px;/*最大幅（調整してください）*/
  height: 75%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateY(-105%);
  transform: translateY(-105%);/*左に隠しておく*/
}
.kuromoji{
  bottom:15%;
  right:40%;
  color:#fefefe;
  position: absolute;
  z-index: 100;
  font-weight:bold;
  font-size:180%;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}







/* pc sp */
 @media ( max-width:599px ){
  .pc {
      display: none;
  }
 }
